python-consul2==0.1.5
Flask==3.1.2
Flask_And_Redis==1.0.0
flask_apscheduler==1.13.1
Flask_Executor==1.0.0
flask_sqlalchemy==3.1.1
keras==3.12.0
numpy==2.2.5
pandas==2.3.3
#pandas-ta @ git+https://github.com/caijh/pandas-ta.git@7be9bf7bc1ef537da7626502354afcfedaefcb6a
python-dotenv==1.2.1
Requests==2.32.5
SQLAlchemy==2.0.44
#ta-lib @ git+https://github.com/TA-Lib/ta-lib-python.git@831e3b4c85465e23eeab9be7757567aaf51b4728
flask-redis==0.4.0
psycopg2-binary==2.9.11
akshare~=1.16.98
scipy~=1.16.3