python-consul2==0.1.5
Flask==3.1.1
Flask_And_Redis==1.0.0
flask_apscheduler==1.13.1
Flask_Executor==1.0.0
flask_sqlalchemy==3.1.1
keras==3.9.0
numpy>=2
pandas==2.3.0
pandas_ta==0.3.14b0
ta-lib==0.6.3
plotly==6.0.1
python-dotenv==1.1.0
Requests==2.32.3
scikit_learn==1.7.0
SQLAlchemy==2.0.41
tensorflow==2.19.0
